@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* --------------------- Variables ------------------ */
:root {
    --prime-color: linear-gradient(to right, #d8b4fe, #d8b4fe, #60a5fa);
    --second-color: #93c5fd;
    --third-color: #d8b4fe;
    --forth-color: #93c4fd8a;
    --primus-color: linear-gradient(30deg, #d8b4fe, #60a5fa, #60a5fa, #d8b4fe);
}

/* ------------------ General parameters -------------*/

* {
    margin: 0;
    font-family: sans-serif;
}

body {
    display: block;
}

h1, h2, h3 {
    font-family: "Ubuntu", sans-serif;
}


/* -------------------- Header ----------------------*/

.logo-side figure {
    width: 60px;
    margin: auto 10px auto 20px;
    border-radius: 50%;
}

.logo-side figure img {
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    padding: 3px;
    background: var(--primus-color);
}

.logo-side h2 {
    margin: auto;
    padding-left: 5px;
}

.logo-side {
    display: inline-flex;
}


header {
    background: rgba(255, 255, 255, 0);
    color: white;

    display: flex;
    justify-content: space-between;
    
    height: 75px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
}

header .menu-bars {
    transition: 0.5s;
    font-size: 35px;
    margin: auto 25px;
    padding: 15px;
}

header .menu-toggled {
    transition: 0.5s;
    transform: rotate(+90deg);
}

.show-colors {
    background: var(--prime-color);
}

/* ------------------ Menu or Naviigation -----------------------*/

.menu {
    background-color: var(--second-color);

    visibility: hidden;
    position: fixed;
    top: -75px;
    left: 0;
    right: 0;
    z-index: 4;
    transition: 0.7s;
}

.menu ul a  {
    text-decoration: none;
    color: white;
}

.menu ul li {
    text-align: center;
    padding: 10px;
    font-size: 15x;
}

.menu ul li:hover {
    background: var(--primus-color)
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.show-menu {
    visibility: visible;
    transform: translateY(+150px);
    transition: 0.7s;
}

/* ------------------ Main Banner style -----------------------*/

main .main-banner {
    position: relative;
    width: 100%;
    height: 360px;
}

main .main-banner picture {
    width: 100vw;
    z-index: 1;
}

main .main-banner picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

main .tittle-banner {
    top: 0;
    right: 0;
    left: 0;


    margin: 100px auto;

    position: absolute;
    text-align: center;
    background: #93c4fdef;
    color: white;

    padding: 10px;
    border-radius: 35px;
    width: 350px;

    z-index: 3;
}

main .socials {
    right: 0;
    left: 0;
    bottom: 40px;


    position: absolute;
    max-width: 160px;
    margin: 15px auto;

    z-index: 3;
}

main .socials span i {
    color: white;
    background: #93c4fdbb;
    font-size: 28px;
    text-align: center;

    border-radius: 50%;
    padding: 8px;
}

main .socials span {
    display: inline-flex;
    z-index: 3;
}

/*-------- Wave Contennt Div ----------------*/

main .content-div {
    left: 0;
    right: 0;
    bottom: -6px;

    position: absolute;
    z-index: 2;
}

/* ---- ---- Sections ----- -------*/
/*main:nth-child(odd) {
    background-color: white;
    width: 100%;
    height: 480px;
    border: red solid 6px;
}*/

main .content {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ----- ---- First Section ---- ------ */

main .content:nth-child(2) img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main .content:nth-child(2) figure{
    padding-top: 35px;
    width: 80vw;
    height: 350px;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

main .content:nth-child(2) figure h2 {
    color: white;
    position: absolute;
    left: 25px;
    bottom: 15px;
}

main .content:nth-child(2) > div {
    margin: 70px 45px;
    text-align: center;
    border-top: 1.9px black solid;
    border-bottom: 1.9px black solid;
}

main .content:nth-child(2) div h2 {
    padding: 35px 35px 5px 35px;
}

main .content:nth-child(2) div p {

    padding: 5px 35px 35px 35px;
}

main .devider-bottom {
    width: 100%;
    background-color: var(--second-color);
    height: 55px;
    margin: 0;
    padding: 0;
}

/* ----- ---- Second Section ---- ------ */

main .content:nth-child(3){
    background-color: var(--second-color);
    padding-bottom: 65px;
    width: 100%;
}

main .content:nth-child(3) figure {
    width: 65vw;
    height: 400px;
    margin: auto;
    padding-top: 85px;
}

main .content:nth-child(3) figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

main .content:nth-child(3) .card-banner {
    width: 65vw;
    background-color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
}

main .content:nth-child(3) .card-banner h2,
main .content:nth-child(3) .card-banner p {
    margin: 25px;
}

/* ----- ------ Cards DOM Java Script ----- ----- -----    */

main .app-cards {
    border: 0.2px #8080805b solid;
    border-radius: 10px;
    width: 90vw;
    height: 250px;
    margin: 55px auto;
}
main .app-cards .card {
    display: flex;
}
main .app-cards .card img {
    object-fit: cover;
    width: 40vw;
    height: 250px;
    border-radius: 10px 0 0 10px;
}
main .app-cards .card-info {
    margin: 25px;
}

main .app-cards .card-info h2{
    margin: 0 0 15px 0;
}

/*  ------- ---- Content ----  ---- */

main .serve-info{
    padding-bottom: 65px;
}

main .serve-info figure {
    border: 0.5px #8080805b solid;
    border-radius: 10px 10px 0 0;
    width: 90vw;
    height: 250px;
    margin: auto;
}

main .serve-info figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

main .serve-info .card-banner {
    border: 0.5px #8080805b solid;
    width: 90vw;
    height: 150px;
    margin: auto;
    border-radius: 0 0 10px 10px;
}

main .serve-info h2,
main .serve-info p{
    margin: 25px;
}

main .contact {
    width: 100%;
    height: 350px;
    position: relative;
}

main .contact figure {
    width: 100%;
    height: 100%;
}

main .contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:opacity(50%) blur(2.5px);
}

main .cantact-info h2{
    font-size: 2.3rem;
}

main .cantact-info {
    position: absolute;
    width: 350px;
    height: 100px;
    top: 45%;
    left: 0;
    right: 0;

    margin: auto;
    text-align: center;
}

/* ---- ---- --- Footer --- -- -- --- --- */

footer a {
    text-decoration: none;
    color: black;
}

footer ul {
    margin: 45px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer li {
    overflow: hidden;
    display: flex;
    margin: auto;
}

footer .socials {
    border-bottom: 1px #80808042 solid;
}

footer .bottom {
    width: 100;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 70vw;
    margin: 35px auto;
}

footer .bottom span, 
footer .bottom a {
    color: #808080a9;
}