@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* --- variables --- */
:root {
    --prime-color: linear-gradient(to right, #d8b4fe, #d8b4fe, #60a5fa);
    --second-color: #93c5fd;
    --third-color: #d8b4fe;
    --forth-color: #93c4fd8a;
}

/* --- General parameters ---*/

* {
    margin: 0;
    font-family: sans-serif;
}

/*-- Delete --*/
body {
    background: var(--forth-color);
}

h1, h2, h3 {
    font-family: "Ubuntu", sans-serif;
}

/* -- Header --*/

.logo-side figure {
    width: 100px;
    margin: 0 0 0 20px;
    border-radius: 50%;
    background: var(--third-color);
}

.logo-side figure img {
    width: 100%;
    border-radius: 50%;
}

.logo-side h2 {
    margin: auto;
}

.logo-side {
    display: inline-flex;
}


header {
    display: flex;
    justify-content: space-between;
    
    background: rgba(255, 255, 255, 0);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header .menu-bars {
    font-size: 35px;
    margin: auto 25px;
    padding: 15px;
}

.show-colors {
    color: white;
    background: var(--prime-color);
}