:root {
    --main-bg-color: linear-gradient(65deg, #008cff, #003e70, #003e70);
    --second-color: #003e70;
    --third-color: #008cff;
    --card-bg-color: #80808028;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

header,
nav,
main,
footer {
  max-width: 850px;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
}

nav {
  border-radius: 0 0 5px 5px;
}

h1,
h3 {
  font-size: 1.1rem;
}

/*---------------- Header ----------------*/
header img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.main-header {
    top: 15px;
    margin: 15px;
}

/* ------------- Menu Navigation Bar--------------------*/
.menu-bar {
  /*display: none;*/
  font-size: 34px;
  color: white;
}


nav {
    display: none;
    background: var(--second-color);
    text-align: center;
    box-shadow: 0 2px 15px var(--second-color);
}

.menu-bar-show {
  display: block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
}

nav a:hover {
  background-color: var(--third-color);
  color: black;
}

/* -------------- Cards ---------------------*/

fieldset {
  border: 2px solid white;
  background-color: var(--card-bg-color);
  border-radius: 10px;
}

fieldset:hover {
  border-color: var(--second-color);
  transition: 1.15s;
}
/*-------------- Logo -----------------------*/

.logo {
  width: 100%;
}

.logo img {
  width: 100%;
}
.logo figure {
  width: 250px;
  height: 250px;
  margin: auto;
}


/*-------------- Foot -----------------------*/

footer {
    text-align: center;
    background: var(--main-bg-color);
    color: white;
    padding: 15px;
}


/* ------------ Dark Mode-----------------*/

@media (prefers-color-scheme: dark) {
  body  {
     background:  #333; 
     color: white; 
    }
  
  fieldset {
    border-color: #333;
  }
}