@media only screen and (min-width: 32.5em) {
    header,
    nav,
    main,
    footer {
        border-radius: 10px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 15px 0 15px 0;
        grid-gap: 10px;
    }
    
    /* Name */
    .name {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .name p {
        font-size: 60px;
        text-align: center;
    }

    /* Dominion */
    .domain {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .domain p {
        font-size: 50px;
        text-align: center;
    }

    /* Logo  */
    .logo {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    /* Website Purpose */
    .purpose {
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .purpose p {
        font-size: 14px;
    }
}